:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color-theme-dark: #757575;
  --secondary-text-color-theme-dark: #212121;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
  --primary-background-color-theme-dark: #2f303a;
  --accent-color: #2196f3;
}
body {
  font-family: var(--primary-font-family);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ========= START HEADER =========*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo-main-color {
  color: #2196f3;
}
.header-logo-secondary-color {
  color: var(--secondary-text-color-theme-dark);
}

.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list-link {
  color: var(--secondary-text-color-theme-dark);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.nav-list-link.current {
  color: var(--accent-color);
}
.contacts-list-info {
  color: var(--primary-text-color-theme-dark);
}
.contacts-list-info:hover,
.contacts-list-info:focus {
  color: var(--accent-color);
}
/* ========= END HEADER =========*/
/* ========= START STUDIO MAIN =========*/
.hero {
  background-color: var(--primary-background-color-theme-dark);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
}
.features-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}
.overtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}
.team-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}
/* ========= END STUDIO MAIN =========*/
/* ========= START FOOTER =========*/
.footer {
  background-color: var(--primary-background-color-theme-dark);
}
.footer-logo-primary-color {
  color: #2196f3;
}
.footer-logo-secondary-color {
  color: var(--primary-text-color-theme-light);
}
.address-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list-residence {
  color: var(--primary-text-color-theme-light);
}
.address-list-contacts {
  color: var(--secondary-text-color-theme-light);
}
/* ========= END FOOTER =========*/
/* ========= START PORTFOLIO MAIN =========*/
.filter-item-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
  background-color: #f5f4fa;
}
.filter-item-btn:active {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  cursor: pointer;
}
.samples-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-theme-dark);
}
.samples-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}
/* ========= END PORTFOLIO MAIN =========*/
