/* ============= VARIABLES ============= */
:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --brand-color: #4d5ae5;
  --accent-color: #404bbf;
  --body-bg-color: #ffffff;
}

/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--body-bg-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* ============= COMMON STYLES ============= */

/* ============= HEADER ============= */

.header-logo-main {
  color: var(--brand-color);
}

.header-logo-secondary {
  color: var(--secondary-text-color);
}

.nav-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  color: var(--accent-color);
}

.contacts-list {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-list-item:hover,
.contacts-list-item:focus {
  color: var(--accent-color);
}
/* ============= HEADER ============= */

/* ============= HERO ============= */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  background-color: var(--brand-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}
/* ============= HERO ============= */

/* ============= APPROACH ============= */

/* ============= APPROACH ============= */

/* ============= TEAM ============= */
.team-section {
  background-color: #f4f4fd;
}
/* ============= TEAM ============= */

/* ============= FOOTER ============= */
.footer {
  background-color: #2e2f42;
}
.footer-logo-primary {
  color: var(--brand-color);
}

.footer-logo-secondary {
  color: #f4f4fd;
}

.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* ============= FOOTER ============= */
